* {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-touch-action: manipulation;
  touch-action: manipulation;
  //outline: 1px solid red;
}

.hidden {
  display: none;
}

.navbar {
  height: 15vh;
}

.navbar-brand {
  font-size: 2em;
}

main {
  height: 90vh;
}

.stage {
  padding: 0;
}

.tab {
  padding: 3vh;
  color: #fff;
  font-size: 1.2em;
  box-shadow: inset -10vw 0 50px 0 #000;
}

.tab:hover {
  box-shadow: none;
}

.cars-tab, .cars {
  background-color: #4aabf2;
}

.houses-tab, .houses {
  background-color: #03e19e;
}

.jerbs-tab, .jerbs {
  background-color: #f79045;
}

.stage-content {
  height: 100%;
  padding: 3vh;
}

.new-listing-btn {
  position: absolute;
  bottom: -10vh;
  right: 0;
  width: 100%;
}

.listing {
  box-shadow: 0 0 0.5vw 0 #000;
  width: 100%;
}

footer {
  height: 5vh;
}